# https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-application-properties.html
spring:
  autoconfigure:
    exclude: []

server:
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
management:
  endpoints:
    web:
      exposure:
        include: '*'
    shutdown:
      enabled: false

kafka:
  client-id: kafka-example
  bootstrap-servers: 127.0.0.1:9092
  watch-topics: ["kafka-example"]
  producer-write-timeout: 5s
  consumer-pool-timeout: 5s
  consumer-subscription-timeout: 10s
  consumer-unique-id: true
  consumer-group: kafka-failover-demo
  properties:
    enable:
      auto:
        commit: false
    auto:
      commit:
        interval:
          ms: 1000
#      offset:
#        reset: earliest
#    consumer:
#      request:
#        timeout:
#          ms: 1000
#    request:
#      timeout:
#        ms: 3000
